* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*garante que o padding e a margin não afetem o tamanho do elemento*/
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba(32, 32, 66, 0.712);
    min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;

}

main {
    min-height: calc(100vh - 150px); /* ajusta a altura mínima do main considerando o header e o footer */  
}
.main-bg {
    background-image: url('../img/endless-constellation2.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*garante que a imagem de fundo não se repita*/
    background-attachment: fixed;
    /*mantém a imagem fixa enquanto o usuário rola a página*/
}

header {
    background-color: rgba(32, 32, 66, 0.712);
    padding: 1rem 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; /*garante que o conteúdo do header não ultrapasse os limites do container*/

}

.logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    display:inline-block;

}

.logo a {
    color: white;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

.logo a:hover {
    color: red;

}

nav {
    float: right;
    margin-top: 1rem;
}
nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin-left: 2rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    transition: color 300ms ease-in-out;
    letter-spacing: 2px;

}

nav ul li a:hover {
    color: red;

}

.destaque {
    text-align: center;
    padding: 80px 20px;
}

.explore {
    text-align: center;
    margin-top: 1rem;
}

.explore h2 {
    font-size: 2.5rem;
}

.explore p {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: #cccccc;
    line-height: 1.6;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.botoes {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    clear: both; /*garante que os botões não fiquem sobrepostos a outros elementos*/
}

.botoes a {
    display: inline-block;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    background-color: rgb(20, 12, 124);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: color 300ms ease-in-out;
    font-size: 20px;
}

.botoes a:hover {
    background-color: white;
    color: rgb(20, 12, 124);
    transform: scale(1.1);

}

.jogos {
    padding: 5rem 5%;
    text-align: center;

}

.jogos h2 {
    font-size: 2.5rem;
    
}

.jogos p {
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #cccccc;
}

.jogos ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.jogos ul li {
    display: inline-block;
    vertical-align: top;
    margin: 1rem 2rem;
    border-radius: 10px;
    

}

.jogos ul li a {
    text-decoration: none;
}

.jogos ul li img {
    display: block;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    padding-top: 2rem;
    transition: transform 0.3s ease;
}

.jogos ul li img:hover {
    transform: scale(1.15);
}

.depoimentos {
    margin: 50px;
    text-align: center;
}

.depoimentos p {
    font-size: 1.8rem;
    color: #cccccc;
    text-align: center;
    margin-top: 3rem;

}

.depoimentos h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.card-depoimentos {
    display: inline-block;
    /*permite que os cards fiquem lado a lado*/
    width: 30%;
    margin: 1rem;
    background-color: rgba(32, 32, 66, 0.712);
    border: 3px solid #272344;
    border-radius: 20px;
    text-align: center;
    padding: 24px;
    transition: color 300ms ease-in-out;
    vertical-align: top;

}

.card-depoimentos:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-depoimentos blockquote {
    font-style: italic;
    font-size: 1.5rem;
    color: #cccccc;
    line-height: 1.6;
}

.sobre {
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
}

.sobre h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
}

.sobre h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.sobre p {
    font-size: 1.7rem;
    color: #cccccc;
    text-align: justify;
    margin-top: 3rem;
}

.informacoes {
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
}

.card-info {
    display: inline-block;
    vertical-align: top;
    margin: 1rem 0.8%;
    background-color: rgba(32, 32, 66, 0.712);
    border: 3px solid #272344;
    /*adiciona uma borda de 3px de largura e cor #1B1830 ao redor do card*/
    border-radius: 20px;
    padding: 2rem;
    width: 30%;
    min-width: 350px;
    cursor: pointer;
    height: 400px;
    transition: color 300ms ease-in-out;

}

.card-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-info h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.card-info p,
.card-info ul {
    font-size: 1.5rem;
    color: #cccccc;
    line-height: 1.6;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0;
}

.card-info li {
    list-style-type: circle;
    list-style-position: inside;

}

.produtos {
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
}

.produtos h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.produtos p {
    font-size: 1.7rem;
    color: #cccccc;
    text-align: center;
    margin-top: 3rem;
}

.card-jogo {
    background-color: rgba(32, 32, 66, 0.712);
    border: 3px solid #272344;
    /*adiciona uma borda de 3px de largura e cor #1B1830 ao redor do card*/
    width: 30%;
    height: 400px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
    margin-top: 32px;
    transition: transform 0.4s ease;

}

.card-jogo:hover {
    transform: translateY(-10px);
}

.card-jogo a {
    text-decoration: none;
    color: white;
}

.card-jogo img {
    width: 60%;
    height: 200px;
    display: block;
    margin: 0 auto;


}
.galeria {
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
  
    
}

.galeria h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}
.galeria p {
    font-size: 1.7rem;
    color: #cccccc;
    text-align: center;
    margin-top: 3rem;
}
.galeria h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}
.galeria-fotos {
    padding: 0;
    text-align: center;
    margin-top: 32px;
    
}

.galeria-fotos img {
    display: inline-block;
    vertical-align: top;
    margin: 2rem 1rem 1rem;
    padding-top: 2rem;
    transition: transform 0.3s ease;
    background-color: rgba(32, 32, 66, 0.712);
    border-radius: 20px;
    border: 3px solid #272344;
}

.galeria-fotos img:hover {
    transform: scale(1.15);
}

.botao-voltar{
    display: block;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}
.contato {
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
    margin: 50px;
}

.contato h2 {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.contato p {
    font-size: 1.7rem;
    color: #cccccc;
    text-align: center;
    margin-top: 3rem;
}

.contato-form {
    overflow: hidden;
    /*garante que o conteúdo do formulário não ultrapasse os limites do container*/
    margin-top: 32px;
    padding: 0 5%;
    /*adiciona um espaçamento interno de 5% nas laterais do formulário*/
    text-align: center;
}

.contato-form-card {
    display: inline-block;
    text-align: left;
    background-color: rgba(32, 32, 66, 0.712);
    border: 3px solid #272344;
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 900px;
}

.contato-form-card h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.contato-form-card form {
    display: block;
}

.contato-form-card label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    transition: color 300ms ease-in-out;
}

.contato-form-card input,
.contato-form-card textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 3px solid #272344;
    /*adiciona uma borda de 3px de largura e cor #272344 ao redor do campo*/
    border-radius: 8px;
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    transition: color 300ms ease-in-out;
}

.contato-form-card textarea {
    resize: vertical;
    /*permite que o usuário redimensione o campo de texto apenas na vertical*/
    min-height: 150px;
    /*define uma altura mínima para o campo de texto*/
}

.contato-form-card input::placeholder,
.contato-form-card textarea::placeholder {
    color: #353434;
    font-size: 1.2rem;
}

.contato-form-card button {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: rgb(20, 12, 124);
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.contato-form-card button:hover {
    background-color: white;
    color: rgb(20, 12, 124);
    transform: scale(1.05);
}

footer {
    padding: 2rem;
    text-align: center;
    margin-top: 20px;
    color: #cccccc;
    background-color: rgba(32, 32, 66, 0.712);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    
}

@media (max-width: 768px) {
    .logo {
        font-size: 2.2rem;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    .card-info {
        width: 90%;
        min-width: auto;
    }

    .card-jogo {
        width: 90%;
        max-width: auto;
    }

    .contato-form-card {
        width: 100%;
    }


}