* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*garante que o padding e a margin não afetem o tamanho do elemento*/
}

html{
   font-size: 16px;
}

body {

    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', sans-serif;

}

.main-bg {
    background-image: url('../img/endless-constellation2.svg'); 
    background-position: center;
    background-size: auto;
    background-attachment: fixed; /*mantém a imagem fixa enquanto o usuário rola a página*/
}

header {
    background-color: rgba(32, 32, 66, 0.712);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between; /*coloca os elementos nas extremidades do header*/
    align-items: center;
    gap: 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
 
}

.logo a {
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.logo a:hover {
    color: red;
    
}

nav ul{
    list-style: none;
    display: flex; /*coloca a lista um do lado do outro*/
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    transition: color 300ms ease-in-out;
    letter-spacing: 2px;
   
}

nav ul li a:hover {
    color: red;
   
}

.destaque {
    text-align: center;
    padding: 80px 20px;     
}

.explore {
    text-align: center;
    margin-top: 1rem;
}

.explore h2 {
    font-size: 2.5rem;
}

.explore p{
    max-width: 700px;
    margin: 1.5rem auto;
    font-size: 1.3rem;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
   
.botoes a {
    padding: 1rem 1.5rem;
    background-color: rgb(20, 12, 124);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 300ms ease-in-out;
    font-size: 20px;  
}
.botoes a:hover {
    background-color: white;
    color:  rgb(20, 12, 124);
    transform: scale(1.5);
    font-size: 22px;
        
}

.jogos {
    padding: 5rem 5%;
    text-align: center;

}

.jogos h2 {
    font-size: 2.5rem;
}

.jogos p{
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #cccccc;
}

.jogos ul{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap; /*permite que os elementos se ajustem à largura da tela, quebrando a linha quando necessário*/
    list-style: none; 
    padding: 0;
}    
       
.jogos ul li {
    border-radius: 10px;
   
}

.jogos ul li a {
    text-decoration: none;
}

.jogos ul li img {
    display: block;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    padding-top: 2rem;
    transition: transform 0.3s ease;
}

.jogos ul li img:hover {
    transform: scale(1.5);
}

.sobre {
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
    }

.sobre h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: normal;
}

.sobre h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.sobre p {
    font-size: 1.7rem;
    color: #cccccc;
    text-align: justify;
    margin-top: 3rem;
}

.informacoes {
    display: flex;
    justify-content: center; 
    gap: 2rem;
    flex-wrap: nowrap; /*permite que os elementos se ajustem à largura da tela, quebrando a linha quando necessário*/
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
}

.card-info {
    background-color: rgba(32, 32, 66, 0.712);
    border: 3px solid #272344; /*adiciona uma borda de 3px de largura e cor #1B1830 ao redor do card*/
    border-radius: 20px;
    padding: 2rem;
    width: 30%;
    min-width: 350px;
    cursor: pointer;
    height: 400px;
    transition: all 300ms ease-in-out;
}

.card-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card-info h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.card-info p, 
.card-info ul {
    font-size: 1.5rem;
    color: #cccccc;
    line-height: 1.6;
    text-align: center;
    margin-top: 1rem;
    padding-left: 0; 
}

.card-info li {
    list-style-type: circle;
    list-style-position: inside;
 
}

.produtos {
    padding: 5rem 5%;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
    flex-wrap: wrap; /*permite que os elementos se ajustem à largura da tela, quebrando a linha quando necessário*/
}

.produtos h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.produtos p{
    font-size: 1.7rem;
    color: #cccccc;
    text-align: center;
    margin-top: 3rem;
}

.card-jogo {
  background-color: rgba(32, 32, 66, 0.712);
  border: 3px solid #272344; /*adiciona uma borda de 3px de largura e cor #1B1830 ao redor do card*/
  width: 30%;
  box-sizing: border-box;
  height: 400px;
  transition: 0.4s;
  border-radius: 20px;
  display:inline-block;
  vertical-align:top;
  margin:0 1%;
  margin-top: 32px;
}

.card-jogo:hover {
  transform: translateY(-10px);
}

.card-jogo a {
    text-decoration: none;
    color: white; 
}

.card-jogo img{
    width: 50%;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap; /*permite que os elementos se ajustem à largura da tela, quebrando a linha quando necessário*/
    list-style: none; 
    padding: 0;  
}

.contato {
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
}

.contato h2 {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.contato p{
    font-size: 1.7rem;
    color: #cccccc;
    text-align: center;
    margin-top: 3rem;
}

footer {
    padding: 1.5rem;
    text-align: center;
    margin-top: 20px;
    color:#cccccc;
    background-color: rgba(32, 32, 66, 0.712);
}
 
